@import 'functions';
@import 'mixins';

.the_editor {
  @import '~codemirror/lib/codemirror';
  @import '~codemirror/addon/fold/foldgutter';
  border: 1px solid get-var(border-color);
  border-radius: 2px;
  overflow: hidden;
  width: 900px;
  height: 500px;
  overflow: hidden;
  position: relative;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;

  @include scroll-bar;

  &.the_editor_width_previewer {
    display: flex;
    flex-flow: row nowrap;

    .CodeMirror {
      flex: 1;
      height: 100%;
    }
  }
}

.the_editor--label {
  opacity: 0.8;
  margin-right: 6px;
  cursor: pointer;

  &_file_input {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border-radius: 2px;
    border: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 14px;

    &:hover {
      background-color: #fafafa;
    }

    &:active {
      background-color: #efefef;
    }
  }
}

.the_editor--input {
  opacity: 0.8;
  padding: 0.5rem 0.8rem;
  outline: none;
  border-radius: 2px;
  border: 1px solid #eee;
  &[type='radio'] {
    cursor: pointer;
  }
}
