@import 'functions';

.the_editor--toolbar {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  height: fit-content;
  align-items: center;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  border-bottom: 1px solid get-var(border-color);
  width: 100%;
  padding: 4px 8px;
  z-index: 9;
  background-color: #fff;

  >span {
    display: inline-block;
    vertical-align: middle;
  }

  .tool_item {
    box-sizing: border-box;
    padding: 0 6px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    color: #666;
    border: 1px solid transparent;
    text-align: center;
    transition: all .1s ease-in-out;
    user-select: none;
    &:not(:first-child) {
      margin-left: 2px;
    }
    &:hover {
      color: blue;
      border-color: get-var(border-color);
      background: rgba($color: #666, $alpha: 0.1);
    }
  }

  .tool_gutter {
    height: 24px;
    width: 1px;
    background-color: get-var(border-color);
    margin-left: 2px;
  }
}